@if (!product){
    <div class="alert alert-danger text-center">No person details</div>
 } @else {
        <table class="table table-bordered w-50">
            <tr>
                <td class="fw-semibold">Product Name</td>
                <td class="ps-2">{{product.name}}</td>
            </tr>
            <tr>
                <td class="fw-semibold">Product Description</td>
                <td class="ps-2">{{product.description}}</td>
            </tr>
            <tr>
                <td class="fw-semibold">Product Price</td>
                <td class="ps-2">{{product.price}}</td>
            </tr>
            <tr>
                <td class="fw-semibold">Product Category</td>
                <td class="ps-2">{{product.category}}</td>
            </tr>
            <tr>
                <td class="fw-semibold">Product Stock</td>
                <td class="ps-2">{{product.stock}}</td>
            </tr>
            <tr>
                <td class="fw-semibold">Product Date Inserted</td>
                <td class="ps-2">{{product.createdAt}}</td>
            </tr>
        </table>
    }
