@if (!product && !eproduct){
  <div class="alert alert-danger text-center">No person details</div>
} @else {
  <table class="table table-bordered w-50">
      <tr>
          <td class="fw-semibold">Όνομα Προϊόντος</td>
          <td class="ps-2">{{ product?.name || eproduct?.name }}</td>
      </tr>
      <tr>
          <td class="fw-semibold">Περιγραφή Προϊόντος</td>
          <td class="ps-2">{{ product?.description || eproduct?.description}}</td>
      </tr>
      <tr>
          <td class="fw-semibold">Τιμή</td>
          <td class="ps-2">{{product?.price || eproduct?.price}}</td>
      </tr>
      <tr>
          <td class="fw-semibold">Κατηγορία Προϊόντος</td>
          <td class="ps-2">{{product?.category || eproduct?.category}}</td>
      </tr>
      <tr>
          <td class="fw-semibold">Απόθεμα Προϊόντος</td>
          <td class="ps-2">{{product?.stock || eproduct?.stock}}</td>
      </tr>
  </table>
}