<div class="container mt-2">
  <div class="d-flex flex-column gap-2">
    <nav
      [class]="isFullVersion
        ? 'navbar navbar-dark bg-primary justify-content-between'
        : isCourierVersion
        ? 'navbar navbar-dark bg-danger justify-content-between'
        : 'navbar navbar-dark bg-success justify-content-between'"
    >
      <a class="navbar-brand ms-3 cursor-pointer" role="button" routerLink="">
        {{
          isFullVersion
            ? 'Company FULL API'
            : isCourierVersion
            ? 'Courier API (Limited Version)'
            : 'Client API'
        }}
      </a>
    </nav>
    <div class="d-flex flex-row gap-2">
      <!-- Full Version Sidebar -->
      <ng-container *ngIf="isFullVersion; else courierMenu">
        <app-list-group-menu></app-list-group-menu>
      </ng-container>

      <!-- Courier Version Sidebar -->
      <ng-template #courierMenu>
        <ng-container *ngIf="isCourierVersion; else clientMenu">
          <app-courier-update></app-courier-update>
        </ng-container>
      </ng-template>

      <!-- Third Version Sidebar -->
      <ng-template #clientMenu>
        <app-client-view></app-client-view>
      </ng-template>

      <!-- Main Content Area -->
      <div class="flex-grow-1 p-2 text-nowrap w-75">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
